* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("/assets/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 300px;
  height: auto;
  margin-top: 12rem;
  background: rgba(14, 14, 14, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(14, 14, 14, 0.14);
  color: aliceblue;
}

#message{
  color: rgb(255, 36, 36)
}